<footer class="text-center">
    <span>Something look off? <a href="https://github.com/codebridge-za/codebridge-za.github.io" target="_blank">Send us a pull request!</a></span>
</footer>

<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-48399585-38', 'auto');
 ga('send', 'pageview');
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ 'assets/js/bootstrap-3.3.5.min.js' | prepend: site.baseurl }}"></script>