@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';
@import 'https://fonts.googleapis.com/css?family=Droid+Serif:400';
html,
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    height: 100%;
    overflow-x: hidden;
    background-color: #FFF;
    color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Droid Serif', serif;
}
footer {
    width: 100%;
    height: 60px;
    background-color: #212121;
}
footer span {
    color: #FFF;
    line-height: 60px;
    text-align: center;
}
footer a {
    color: #ba4141;
}
footer a:hover,
footer a:visited,
footer a:focus {
    color: #ba4141;
}

a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.panel{
   border: 0;
}

.thumbnail{
    border: 0;
}

.navbar-brand{
    font-family: 'Droid Serif', serif;
}
.contact {
    margin: 60px auto;
    min-height: calc(100% - 180px);
}
.post {
    margin: 15px auto;
    min-height: calc(100% - 146px);
}
.partners {
    margin: 60px auto;
    min-height: calc(100% - 180px);
}
.events {
    margin: 60px auto;    
    padding-bottom: 15px;
}

.intro-header {
    text-align: center;
    color: #f8f8f8;
    background: url('../../images/header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding: 48vh 0;
}
.intro-message {
    position: relative;
}
.intro-message>h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 5em;
}
.intro-message span {
    color: #AB1B1B;
}
.intro-message>p {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 1.4em;
}
.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.about {
    margin: 60px auto;
}
.about p {
    font-size: 1em;
}
.about .video-caption {
    margin-top: 1em;
}
.about .video-caption .sub-header {
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 1em;
    font-weight: 600;
    float: right;
}
.recommended {
    background: #FF3A3A;
    color: #FFF;
    padding: 3px 0 3px 0;
    margin-top: 10px;
    text-align: center;
    margin-bottom: -35px;
    font-family: 'Open Sans', sans-serif;
}
.spacer {
    width: 100%;
    height: 50px;
}
.primary-bg {
    background: #337AB7;
    color: #FFF;
}
.success-bg {
    background: #5CB85C;
    color: #FFF;
}
.info-bg {
    background: #5BC0DE;
    color: #FFF;
}
.warning-bg {
    background: #F0AD4E;
    color: #FFF;
}
.danger-bg {
    background: #D9534F;
    color: #FFF;
}
.dark-bg {
    background: #444;
    color: #FFF;
}
.royal-bg {
    background: #8E74E2;
    color: #FFF;
}
.static-bg {
    background: #2BB0A6;
    color: #FFF;
}
.primary-text {
    background: #FFF;
    color: #337AB7;
}
.success-text {
    background: #FFF;
    color: #5CB85C;
}
.info-text {
    background: #FFF;
    color: #5BC0DE;
}
.warning-text {
    background: #FFF;
    color: #F0AD4E;
}
.danger-text {
    background: #FFF;
    color: #D9534F;
}
.dark-text {
    background: #FFF;
    color: #444;
}
.royal-text {
    background: #FFF;
    color: #8E74E2;
}
.static-text {
    background: #FFF;
    color: #2BB0A6;
}
.btn {
    font-weight: 300;
}

.btn-dark {
    color: #fff;
    background-color: #444;
    border-color: #444;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark.focus,
.btn-dark:active,
.btn-dark.active,
.open>.dropdown-toggle.btn-dark {
    color: #fff;
    background-color: #222;
    border-color: #222;
}
.btn-dark:active,
.btn-dark.active,
.open>.dropdown-toggle.btn-dark {
    background-image: none;
}
.btn-royal {
    color: #fff;
    background-color: #8E74E2;
    border-color: #8E74E2;
}
.btn-royal:hover,
.btn-royal:focus,
.btn-royal.focus,
.btn-royal:active,
.btn-royal.active,
.open>.dropdown-toggle.btn-royal {
    color: #fff;
    background-color: #7451E8;
    border-color: #7451E8;
}
.btn-royal:active,
.btn-royal.active,
.open>.dropdown-toggle.btn-royal {
    background-image: none;
}
.btn-static {
    color: #fff;
    background-color: #2BB0A6;
    border-color: #2BB0A6;
}
.btn-static:hover,
.btn-static:focus,
.btn-static.focus,
.btn-static:active,
.btn-static.active,
.open>.dropdown-toggle.btn-static {
    color: #fff;
    background-color: #07A094;
    border-color: #07A094;
}
.btn-static:active,
.btn-static.active,
.open>.dropdown-toggle.btn-static {
    background-image: none;
}
.calendar {
    margin: 0px auto;
}
.calendar iframe {
    min-width: 100%;
    min-height: calc(100vh - 100px);
}

@media(max-width:760px) {
    .intro-message>h1 {
        font-size: 3em;
}

